:root {
  --main-color: rgb(255, 48, 91);
  --bg-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #151515;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
}

.continer {
  width: 80%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.title h2 {
  color: #fff;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.title .lines {
  width: 200px;
  height: 2px;
  background-color: var(--main-color);
  margin: auto;
  margin-top: 25px;
  position: relative;
}

.title .lines::before,
.title .lines::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title .lines::before {
  top: -10px;
}

.title .lines::after {
  bottom: -10px;
}

section {
  padding-block: 50px;
}
p {
  color: #c1c1c1;
}
